<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Clock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Clock.Properties.Settings>
            <setting name="MinimizeToSystemTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TwentyFourHour" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowSeconds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Chimes" serializeAs="String">
                <value>QuarterHour</value>
            </setting>
            <setting name="LastVersionRun" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateCheck" serializeAs="String">
                <value />
            </setting>
            <setting name="StartUpWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
        </Clock.Properties.Settings>
    </userSettings>
</configuration>